#root {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  background-color: var(--foreground-color);
  color: var(--secondary-text-color);
}


.header {
  grid-column: 1/ span 3;
}

.content {
  grid-column: 1/ span 3
}

.footer {
  grid-column: 1/ span 3
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
}


.header .brand {
  position: relative;
}

.header .brand span {
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: -5px;
  left: 44px;
}

.header nav {
  width: 44%;
  padding-top: 0;
}

.wrapper__content {
  width: 100%;
  max-width: 1280px;
  text-align: left;
  display: grid
}

.content {
  width: 100%;
  max-width: 1280px;
  text-align: left;
}

.content .wrapper__content div {
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
}

.content .wrapper__content div div {
  display: inline-block;
  width: 50%;
}

.wrapper__content .content .content__box img {
  width: 100%;
}

.wrapper__content .content .content__box {
  display: flex;
}

.wrapper__content .content .content__box div {
  width: 50%;
}



.title {
  color: var(--primary-text-color);
  font-size: 3.75rem;
}

.subtitle {
  text-transform: uppercase;
}

.card {
  padding: 2em;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-left: 15px;
}

ul li a {
  color: var(--primary-text-color);
  font-size: 0.875rem;
  opacity: .6;
  font-weight: 600;
}

ul li:first-child a {
  font-weight: 600;
  opacity: 0.8;
}


.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2A4DD0;
  cursor: pointer;
  color: #FFFFFF;
  margin-right: 15px;
}

.link {
  font-weight: 600;
  position: relative;
}

.link::after {
  content: '';
  border-bottom: 2px solid #2A4DD0;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.requirements {
  margin: 40px 0;
}

.requirements li {
  padding-left: 0;
  padding-right: 15px;
  display: flex;
}

.requirements li::before {
  content: '';
  background-color: var(--check-fg);
  -webkit-mask-image: url(done_ring_round_fill.svg);
  mask-image: url(done_ring_round_fill.svg);
  background-size: contain;
  width: 22px;
  height: 22px;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: inline-block;
}

.requirements li span {
  font-size: 0.875rem;
}


[data-theme="dark"] .nav li:not(:first-child) a,
[data-theme="dark"] p,
[data-theme="dark"] .requirements li span {
  color: #909193
}


.mobile-nav-button,
.mobile-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    height: auto;
    padding: 0 30px;
  }

  .header nav {
    width: 58%;
  }

  .wrapper__content .content .content__box {
    width: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    flex-direction: column-reverse;
  }

  .wrapper__content .content .content__box div {
    width: auto;
  }

}


@media screen and (max-width: 640px) {

  .header .toogle-container {
    width: 67px;
    position: relative;
    top: 28%;
    left: 44%;
    display: block !important;
  }

  .mobile-nav-button {
    display: block;
  }

  .wrapper {
    height: auto;
    padding: 0 30px;
  }

  .header nav,
  .header .toogle-container {
    display: none;
  }

  .wrapper__content .content .content__box {
    width: auto;
  }

  .mobile-nav-button {
    width: 35px;
    position: absolute;
    margin: 2.4rem 0;
    right: 0;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .mobile-nav-button .mobile-nav-button__line {
    width: 100%;
    height: 4px;
    background: #000;
    position: relative;
    transition: 1s ease;
  }

  .mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
    margin: 0.3rem 0;
  }

  .mobile-nav-button .mobile-nav-button__line--1 {
    transform: rotate(45deg);
    top: 13px;
    position: absolute;
  }

  .mobile-nav-button .mobile-nav-button__line--2 {
    display: none;
  }

  .mobile-nav-button .mobile-nav-button__line--3 {
    transform: rotate(135deg);
    top: 13px;
    position: absolute;
  }

  .mobile-menu {
    display: block;
    max-width: 450px;
    width: 100%;
    right: -100%;
    height: 100vh;
    background: #F2F9FE;
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
    overflow: hidden;
  }

  .mobile-menu ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: block;
  }

  .mobile-menu ul li {
    list-style: none;
  }

  .mobile-menu ul li a {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    line-height: 6rem;
    font-weight: 600;
    overflow: hidden;
    position: relative;
  }

  .mobile-menu ul li a:after {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: -1;
    transition: 0.4s ease;
  }

  [data-theme="dark"] .mobile-nav-button .mobile-nav-button__line {
    background: var(--primary-text-color);
  }

  [data-theme="dark"] .mobile-menu {
    background-color: var(--foreground-color);
  }

  [data-theme="dark"] .mobile-menu ul li a {
    color: var(--primary-text-color);
  }

  [data-theme="dark"] .mobile-menu ul li a:after {
    background: var(--toggle-bg);
  }



  .mobile-menu ul li a:hover {
    color: #fff;
  }

  .mobile-menu ul li a:hover:after {
    right: 0;
  }

  .mobile-menu img {
    position: absolute;
    width: 150px;
    display: block;
    left: 50%;
    top: 3rem;
    transform: translatex(-50%);
    padding: 0;
    text-align: center;
  }

  .mobile-menu--open {
    right: -32px;
    opacity: 1;
  }


}